header{
    background: #bbbbbb; /*cor de fundo da barra do header*/
}

nav li {
    display: inline; /*deixando a lista em linhas*/
    margin: 0 0 0 15px; /*espaçamento entre as palavras da lista*/
    /*topo, direita, baixo, esquerda*/
}

nav a {
    text-transform: uppercase; /*deixando as palavras em caixa alta*/
    color: #000000; /*alterando a cor da fonte*/
    font-weight: bold; /*deixando a fonte em negrito*/
    font-size: 22px; /*alterando o tamanho da fonte*/
    text-decoration: none; /*removendo as decorações do texto*/
}