header{
    background: #bbbbbb; /*cor de fundo da barra do header*/
    padding: 20px 0; /*espaçamento interno*/
}

.caixa {
    position: relative;
    width: 940px; /*largura da caixa*/
    margin: 0 auto; /*centralizando a div*/
}

nav {
    position: absolute; /*posição absoluta para deixar a lista no local desejado*/
    top: 110px; /*centralizando a <li> (metade do tamanho da imagem)*/
    right: 0;
}

nav li {
    display: inline; /*deixando a lista em linhas*/
    margin: 0 0 0 15px; /*espaçamento entre as palavras da lista*/
    /*topo, direita, baixo, esquerda*/
}

nav a {
    text-transform: uppercase; /*deixando as palavras em caixa alta*/
    color: #000000; /*alterando a cor da fonte*/
    font-weight: bold; /*deixando a fonte em negrito*/
    font-size: 22px; /*alterando o tamanho da fonte*/
    text-decoration: none; /*removendo as decorações do texto*/
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50 0; 
}

.produtos li {
    display: inline-block; /*Ocupar somente o tamanho necessário*/
    text-align: center; /*centralizando tudo que está dentro do li*/
    width: 30%; /*distribuição de 30% dos lados*/
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px; /**/
    box-sizing: border-box; /*trabalhar porcentagem com px*/
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}
.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0; /*margin-top: 10px é a mesma coisa*/
}