header{
    background: #bbbbbb; /*cor de fundo da barra do header*/
    padding: 20px 0; /*espaçamento interno*/
}

.caixa {
    position: relative;
    width: 940px; /*largura da caixa*/
    margin: 0 auto; /*centralizando a div*/
}

nav {
    position: absolute; /*posição absoluta para deixar a lista no local desejado*/
    top: 110px; /*centralizando a <li> (metade do tamanho da imagem)*/
    right: 0;
}

nav li {
    display: inline; /*deixando a lista em linhas*/
    margin: 0 0 0 15px; /*espaçamento entre as palavras da lista*/
    /*topo, direita, baixo, esquerda*/
}

nav a {
    text-transform: uppercase; /*deixando as palavras em caixa alta*/
    color: #000000; /*alterando a cor da fonte*/
    font-weight: bold; /*deixando a fonte em negrito*/
    font-size: 22px; /*alterando o tamanho da fonte*/
    text-decoration: none; /*removendo as decorações do texto*/
}

nav a:hover { /*ao passar o mouse acontece algo em nav a*/
    color: #C78C19; /*setar cor ao passar o mouse*/
    text-decoration: underline; /*sublinhar ao passar o mouse*/
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0; 
}

.produtos li {
    display: inline-block; /*Ocupar somente o tamanho necessário*/
    text-align: center; /*centralizando tudo que está dentro do li*/
    width: 30%; /*distribuição de 30% dos lados*/
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px; /**/
    box-sizing: border-box; /*trabalhar porcentagem com px*/
    /*criando a borda*/
    border-color: #000000; /*aplicando a cor na borda*/
    border-width: 2px;/* aplicando o tamanho da borda*/
    border-style: solid; /*aplicando o estilho de linhas solidas*/
    /*pode aplicar as 3 linhas em uma só:
        border: 2px solid #000000
    */
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active { /*ao clicar no local aplica o bloco*/
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}
.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0; /*margin-top: 10px é a mesma coisa*/
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}

main{
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0; /*margin superior 40px, lados 0 e inferior 40px*/
}

/*
    Elemento inline só ocupa o tamanho do seu conteúdo
    Elemento block ocupa o bloco inteiro da página. um exemplo é a tag <p>
*/

form label, form legend{
    display: block; /*Elemento block ocupa o bloco inteiro da página*/
    font-size: 20px; /*Aumentar o tamanho da fonte*/
    margin: 0 0 10px; /*Espaço entre os labels e inputs. Margin para baixo de 10px*/

}

.input-padrao {
    display: block; /*Elemento block ocupa o bloco inteiro da página*/
    margin: 0 0 20px; /*Margem para baixo de 20 pixels*/
    padding: 10px 25px; /*Manipulando valores internos do input. 10px de largura para cima e bixo.
                         20px de largura para os lados*/
    width: 50%; /*Manipulando a largura da tag. Utilizando 50% da página*/
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%; /*aumentando o tamanho da largura do botão*/
    padding: 15px 0; /*aumentando 15px para cima e baixo e 0 para os lados*/
    background: orange; /*Cor do botão é laranda*/
    color: white; /*Cor do texto é branco*/
    font-weight: bold; /*Texto em negrito*/
    font-size: 18px; /*tamanho da fonte é 18px*/
    border: none; /*Não há borda*/
    border-radius: 5px; /*arredondando os cantos do botão*/
    transition: 1s background; /*ocorre uma transição de cor que leva 1s*/
    cursor: pointer; /*cursor vira  um cursor que aponta*/
}

.enviar:hover { /*configurações classe enviar ao passra o mouse*/
    background: darkorange; /*cor de fundo laranja escuro*/

}